.Navbar {
    background-color: tan;
    height: 70px;
    color: #DD0A00;
    font-size: 20px;
    padding: 7px;

}
.clicky {
    filter: drop-shadow(0 0 0.25rem yellow);
}
.correct {
    animation: correctGuess 1s;
}
.incorrect {
    animation: incorrectGuess 1s;
}

.separator {
    margin: 10px;
}

