.Navbar {
    background-color: tan;
    height: 75px;
    color: #DD0A00;
    font-size: 20px;
    padding: 15px;

}

.correct {
    animation: correctGuess 1s;
}
.incorrect {
    animation: incorrectGuess 1s;
}

.separator {
    margin: 10px;
}

